# ==============================================================================
# ERROR PAGES
# ==============================================================================
ErrorDocument 404 /404
ErrorDocument 403 /404
