---
layout: default
---

<section class="space--sm">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <div class="masonry masonry-blog-list">
          <div class="masonry-filter-container text-center"> <span>Category:</span>
            <div class="masonry-filter-holder">
              <div class="masonry__filters" data-filter-all-text="All Categories"></div>
            </div>
          </div>
          <hr>
          <div class="masonry__container masonry--active">

            {% for post in site.posts %}
              <article class="masonry__item voh vnn" data-masonry-filter="{{ post.categories }}" style="position: absolute; left: 0px; transition-property: opacity, transform; transition-duration: 0.4s; transition-delay: 0ms;">
                <!-- <div class="article__title text-center">
                  <a href="{{ post.url }}">
                    <h2>{{ post.title }}</h2>
                  </a> <span>{{ post.date | date: "%b %-d, %Y" }} in </span><span><a href="#">{{ post.categories }}</a></span>
                </div> -->
                <div class="article__body article__excerpt">
                  <a href="{{ post.url }}">
                    {{ post.excerpt }}
                  </a>
                </div>
              </article>
            {% endfor %}

          </div>

          <!-- <div class="pagination">
            <div class="col-xs-6"> <a class="type--fine-print" href="#">« Older Posts</a>
            </div>
            <div class="col-xs-6 text-right"> <a class="type--fine-print" href="#">Newer Posts »</a>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</section>

{% comment %}{% include critique.html %}{% endcomment %}