---
layout: default
---

<section class="switchable cta cta-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-7">
        <div class="switchable__text">
          <h2>The resume writing service for <b>job seekers</b>.</h2>
          <!-- <h2>The resume writing service for <b>career growth</b>.</h2> -->
          <!-- <h2>The <b>career growth hack</b>.</h2> -->
          <!-- <h2>The growth hack for <b>career growth</b>.</h2> -->
          <p class="lead">Carefully crafted <b>resumes</b> and <b>cover letters</b> that get more interviews.&nbsp;</p>
          <a class="btn type--uppercase btn--primary" href="#pricing"> <span class="btn__text">Start Your Next Chapter</span> </a>
        </div>
      </div>
      <div class="col-sm-6 col-md-5">
        <img alt="Image" class="block" src="{{ "/assets/img/art-1.jpg " | relative_url }}">
      </div>
    </div>
  </div>
</section>

{% include critique.html %}

<section class="switchable feature-large feature-large-13">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img alt="Image" class="border--round box-shadow-wide" src="{{ "/assets/img/mock-resume.png " | relative_url }}">
      </div>
      <div class="col-sm-6 col-md-5">
        <div class="switchable__text">
          <h2>Presentation is everything.</h2>
          <p class="lead"><b>Get more interviews and higher job offers</b> by investing in marketing your skills with a pro.<br><br>When you hire LilyPad you get:</p>
          <div class="text-block">
            <h5>📑 &nbsp;Your Career Story &amp; Sales Pitch</h5>
            <p>A custom, modern resume and an effective cover letter pitch <b><span>written by a professional marketer.</span></b></p>
          </div>
          <div class="text-block">
            <h5>👥 &nbsp;One-On-One Guidance</h5>
            <p>One-on-one guidance from your writer/marketer on how to think about your skills &amp; accomplishments.</p>
          </div>
          <div class="text-block">
            <h5>🙌 &nbsp;2x More Interviews, Guaranteed.</h5>
            <p>I guarantee you will get <b>2x more job interviews</b> over the next 60 days or I’ll rewrite your resume for free.</p>
          </div>
          <div class="text-block">
            <h5>🏁 &nbsp;Dedication. Your wins are my wins.</h5>
            <p>Dedicated, undivided attention. I only take 1 client per day. <b>Book your day!</b><br></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="switchable switchable--switch">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <img alt="Image" class="border--round box-shadow-wide" src="{{ "/assets/img/writer.jpg " | relative_url }}">
        <span>LilyPad Resumes - Happy customers across <strong>4 continents</strong> and 10 industries<!--<a target="_blank" href="#customise-template">Get Started  ↗</a>--></span>
      </div>
      <div class="col-sm-6 col-md-5">
        <ol class="process-3">
          <li class="process_item">
            <div class="process__number"><span>1</span></div>
            <div class="process__body">
              <h4>Consult</h4>
              <p> Book a 90-minute voice-chat to discuss your career story, find hidden wins, discuss how you’ve grown, and what your goals are. </p>
            </div>
          </li>
          <li class="process_item">
            <div class="process__number"><span>2</span></div>
            <div class="process__body">
              <h4>Write</h4>
              <p> I get to work planning and writing the perfect resume &amp; cover letter pitches targeted for your industry. </p>
            </div>
          </li>
          <li class="process_item">
            <div class="process__number"><span>3</span></div>
            <div class="process__body">
              <h4>Deliver</h4>
              <p> Your new job hunting tools are delivered as <b>.PDF</b> for reading, <b>.DOCX</b> for future edits, and <b>.TXT</b> for Applicant Tracking Systems. </p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

{% include pricing.html %}

<section id="samples" class="bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-2 text-left">
          <div class="card__top">
            <a href="#"> <img alt="Image" src="{{ "/assets/img/preview-resume.png " | relative_url }}"> </a>
          </div>
          <div class="card__body">
            <h4>Professional Resume Sample</h4>
            <p>Trim the fat, and focus on what matters - your wins and accomplishments. Take a look at how powerful an accomplishment based resume is.</p>
          </div>
          <div class="card__bottom text-center">
            <a class="btn btn--primary" href="/sample/resume"> <span class="btn__text">
              Read A Sample Resume
            </span> </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-2 text-left">
          <div class="card__top"> <!--<span class="label">New</span>-->
            <a href="#"> <img alt="Image" src="{{ "/assets/img/preview-coverletter.png " | relative_url }}"> </a>
          </div>
          <div class="card__body">
            <h4>Cover Letter Sample</h4>
            <p>A great cover letter convinces the recipient that it would be a mistake to pass up an opportunity to interview an incredibly valuable asset.</p>
          </div>
          <div class="card__bottom text-center">
            <a class="btn btn--primary" href="/sample/cover-letter"> <span class="btn__text">
              Read A Sample Cover Letter
            </span> </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include testimonials.html %}
