<section id="critique" class="subscribe-form-2 space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="lead">Submit your email for a free professional resume critique!</p>
            </div>
            <div class="col-md-6">
                <form action="//lilypadresumes.us15.list-manage.com/subscribe/post?u=358b883c323090ceedb68ff1b&amp;id=72252859c7" data-success="Please check your inbox for a confirmation email." data-error="Please provide your email address.">
                    <div class="row">
                        <div class="col-md-7 col-sm-6"> <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address"> </div>
                        <div class="col-md-5 col-sm-6"> <button class="btn btn--primary type--uppercase" type="submit">Send Request</button> </div>
                    </div>
                </form>
            </div>
            
            <!-- <div class="col-md-9">
                <p class="lead">Request a free professional resume critique!</p>
            </div>
            <div class="col-md-3">
                <a href="mailto:{{ site.email }}?Subject=Free%20Resume%20Critique%20Request&Body=I%27ve%20attached%20my%20resume%20to%20take%20advantage%20of%20your%20free%20critique%20offer%21" class="btn btn--primary type--uppercase">Free Critique</a>
            </div> -->
        </div>
    </div>
</section>
