<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>FAQ</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="text-block">
          <h4>Frequently Asked Questions</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-block">
          <h5>What can I expect when I hire LilyPad?</h5>
          <p>Every engagement starts with a 90-minute interview to learn your strengths, document your wins, and learn what your advantage is over your competition. Depending on the writing package selected I’ll carefully review your existing resumes, cover letters, and LinkedIn profile to get a sense of how you’ve been pitching yourself so far and then get to work on crafting a brand new custom documents you can use right away to secure your next career move.</p>
        </div>
        <div class="text-block">
          <h5>How quickly will I have my new resume, cover letter, and LinkedIn profile from LilyPad?</h5>
          <p>Average orders are completed and delivered within a week. A few days extra may be required for any revisions if required. The whole process rarely takes more than two weeks.</p>
        </div>
        <div class="text-block">
          <h5>Will my resume be editable in the future if something changes?</h5>
          <p>Definitely! Your new job hunting tools will be delivered in 3 formats. <b>.PDF</b> for reading, <b>.DOCX</b> for future edits, and <b>.TXT</b> for Applicant Tracking Systems.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="text-block">
          <h5>How many writers work with LilyPad?</h5>
          <p>Just 1. My name is <a href="http://linkedin.com/in/chrissavoie" target="_blank">Chris Savoie</a> and I’m the sole owner &amp; operator of LilyPad Resumes. I've spent the last 7 years working in marketing as a graphic designer, copywriter, photographer, and programmer. I understand how business owners think and how they need to be addressed to get them excited about hiring new talent.</p>
          <p>I take on just one client per day, so you have my absolutely undivided attention when we’re working together.</p>
        </div>
        <div class="text-block">
          <h5>Does LilyPad use resume templates?</h5>
          <p>Yes and no. While I follow a standard resume layout every document is written fresh and custom for every client. My cover letter process involves touching on a few specific topics for each of the 4 paragraphs I include but they’re original every time. LinkedIn profiles follow the standard LinkedIn profile format.</p>
        </div>
        <div class="text-block">
          <h5>Does LilyPad have testimonials and writing samples?</h5>
          <p>Yes! I’ll be adding more samples in the future but both <a href="/#testimonials">testimonials</a>, <a href="/sample/resume">resume samples</a>, and <a href="/sample/cover-letter">cover letter samples</a> are available.</p>
        </div>
      </div>
    </div>
  </div>
</section>