<section id="critique" class="subscribe-form-2 space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="lead">Request a free professional resume critique!</p>
            </div>
            <div class="col-md-6">
                <form action="//mrare.us8.list-manage.com/subscribe/post?u=77142ece814d3cff52058a51f&amp;id=f300c9cce8" data-success="Thanks for signing up.  Please check your inbox for a confirmation email." data-error="Please provide your email address.">
                    <div class="row">
                        <div class="col-md-7 col-sm-6"> <input class="validate-required validate-email" type="email" name="EMAIL" placeholder="Email Address"> </div>
                        <div class="col-md-5 col-sm-6"> <button class="btn btn--primary type--uppercase" type="submit">Send Request</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="footer-3 text-center-xs space--xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <a href="/"><img alt="Image" class="logo" src="{{ "/assets/img/logo-dark.png" | relative_url }}"></a>
      </div>
      <div class="col-sm-6 text-right text-center-xs">
        <ul class="social-list list-inline list--hover">
          <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
          <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
          <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
          <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <a href="mailto:{{ site.email }}"><span class="type--fine-print">{{ site.email }}</span></a>
      </div>
      <div class="col-sm-6 text-right text-center-xs"> <span class="type--fine-print">© <span class="update-year">2017</span> LilyPad Resumes</span></div>
    </div>
  </div>
</footer>
