<footer class="bg-primary pt96 pb96 pt-xs-48 pb-xs-48">
  <div class="container">
    <div class="row mb64 mb-xs-32">
      <div class="col-md-5 text-right text-left-xs">
        <h2 class="uppercase bold italic">Let's smash<br> your goals<br> together</h2>
      </div>
      <div class="col-md-2 hidden-sm hidden-xs text-center pt48">
        <i class="icon icon-lg ti-bolt display-block"></i>
      </div>
      <div class="col-md-5 col-sm-6">
        <p class="lead">
          Questions, bookings or feedback? Contact me by any<br class="hidden-sm"> of the channels below. I'll respond ASAP!
        </p>
        <h4 class="mb8">P: 0417 374 992</h4>
        <h4 class="mb8">E: train@bendobson.net</h4>
        <h4 class="mb0"><i class="ti-twitter-alt"></i> @bendobson</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
        <p class="fade-1-4">Handcrafted by Medium Rare © 2015<br> Built with Variant Page Builder
        </p><ul class="list-inline social-list mb0">
          <li><a href="#"><i class="icon icon-xs ti-twitter-alt"></i></a></li>
          <li><a href="#"><i class="icon icon-xs ti-facebook"></i></a></li>
          <li><a href="#"><i class="icon icon-xs ti-instagram"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/flexslider.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/parallax.js" | relative_url }}"></script>
<script src="{{ "/assets/js/scripts.js" | relative_url }}"></script>
