<div class="nav-container">

  <nav class="bg-dark">
    <div class="nav-utility">
      <div class="module left">
        <i class="ti-location-arrow">&nbsp;</i>
        <span class="sub">68 Cardamon Place, Melbourne Vic 3000</span>
      </div>
      <div class="module left">
        <i class="ti-email">&nbsp;</i>
        <span class="sub">hello@foundry.net</span>
      </div>
      <div class="module right">
        <a class="btn btn-sm" href="#">Get A FREE Critique!<br></a>
      </div>
    </div>
    <div class="nav-bar">
      <div class="module left">
        <a href="index.html">
          <img class="logo logo-light" alt="Foundry" src="{{ "assets/img/logo-light.png" | relative_url }}">
          <img class="logo logo-dark" alt="Foundry" src="{{ "assets/img/logo-dark.png" | relative_url }}">
        </a>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">
            <li>
              <a href="#">Single</a>
            </li>
            <li class="has-dropdown">
              <a href="#">
                Mega Menu
              </a>
              <ul class="mega-menu">
                <li>
                  <ul>
                    <li>
                      <span class="title">Column 1</span>
                    </li>
                    <li>
                      <a href="#">Single</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <ul>
                    <li>
                      <span class="title">Column 2</span>
                    </li>
                    <li>
                      <a href="#">Single</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">
                Single Dropdown
              </a>
              <ul>
                <li class="has-dropdown">
                  <a href="#">
                    Second Level
                  </a>
                  <ul>
                    <li>
                      <a href="#">
                        Single
                      </a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div>


      </div>

    </div>
  </nav>










</div>
