{% include guarantee.html %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="pricing pricing-1 boxed boxed--lg boxed--border">
          <h3>Best Foot Forward</h3> <span class="h2"><strong>$149</strong></span> <span class="type--fine-print">Professionally Written Resume</span>
          <hr>
          <ul>
            <li><span class="checkmark bg--primary-1"> </span><b>90 Min Consultation</b> - One on one interview to draw out your strengths.</li>
            <li><span class="checkmark bg--primary-1"> </span><b>Professionally Written Resume</b> - Highlight your career wins and stand out.</li>
            <li><span class="checkmark bg--primary-1"> </span><b>ATS Keyword Optimized</b> - Get flagged for callbacks through Applicant Tracking Systems(ATS).</li>
          </ul>
          <a class="btn btn--primary" href="/best-foot-forward"> <span class="btn__text">
            Package Details
          </span> </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="pricing pricing-1 boxed boxed--lg boxed--border boxed--emphasis">
          <h3>Professional Pitch</h3> <span class="h2"><strong>$299</strong></span> <span class="type--fine-print">Professionally Written Resume &amp; Cover Letter</span> <span class="label">Popular!</span>
          <hr>
          <ul>
            <li><span class="checkmark bg--primary-1"> </span><b>Best Foot Forward Package</b></li>
            <li><span class="checkmark bg--primary-1"> </span><b>Cover Letter</b> - Pitch your skills as solutions. Written with 7 years of marketing experience.</li>
            <li><span class="checkmark bg--primary-1"> </span><b>Increased Callback Guarantee</b> - Employers are 40% more likely to read a resume accompanied by a cover letter.</li>
          </ul>
          <a class="btn btn--primary-1" href="/professional-pitch"> <span class="btn__text">
            Package Details
          </span> </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="pricing pricing-1 boxed boxed--lg boxed--border">
          <h3>Social Media Suit &amp; Tie</h3> <span class="h2"><strong>$369</strong></span> <span class="type--fine-print">Professionally Written Resume, Cover Letter, LinkedIn Profile, &amp; Linkedin Recommendation</span>
          <hr>
          <ul>
            <li><span class="checkmark bg--primary-1"> </span><b>Professional Pitch Package</b></li>
            <li><span class="checkmark bg--primary-1"> </span><b>LinkedIn Profile</b> - 97% of employers look up candidates on LinkedIn.</li>
            <li><span class="checkmark bg--primary-1"> </span><b>Get Recommended</b> - A LinkedIn recommendation ready for an endorsement from your network.</li>
          </ul>
          <a class="btn btn--primary" href="/social-media-suit-and-tie"> <span class="btn__text">
            Package Details
          </span> </a>
        </div>
      </div>
    </div>
  </div>
</section>
