<script src="{{ "/assets/js/jquery-3.1.1.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/flickity.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/parallax.js" | relative_url }}"></script>
<script src="{{ "/assets/js/isotope.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/granim.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/countdown.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/smooth-scroll.min.js" | relative_url }}"></script>
<script src="{{ "/assets/js/scripts.js" | relative_url }}"></script>

<!-- Canecto Analytics -->
<script>document.canecto = { id: 188 };</script>
<script async src="https://resource.canecto.info/analytics.js"></script>


<!-- HotJar -->
<script src="{{ "/assets/js/hotjar.js" | relative_url }}"></script>

{% comment %}
<!-- PureChat -->
<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '15033df9-0455-4def-a944-fc614bf91734', f: true }); done = true; } }; })();</script>

<!-- Reddit Conversion Pixel -->
<script>var i=new Image();i.src="https://alb.reddit.com/t.gif?q=CgAFAj1O-Z4AJ38IAAcAAAEACgAJAAAAAAC2ZoIA&s=B_33aXfIOipIkOZnE0ORE7L0bp4jOJw5X5ftDIMTPb0=";</script>
<noscript><img height="1" width="1" style="display:none" src="https://alb.reddit.com/t.gif?q=CgAFAj1O-Z4AJ38IAAcAAAEACgAJAAAAAAC2ZoIA&s=B_33aXfIOipIkOZnE0ORE7L0bp4jOJw5X5ftDIMTPb0="/></noscript>
<!-- End Reddit Conversion Pixel -->
{% endcomment %}

<script>
  $(document).ready(function($) {

    ////////////////////////////////////////////////////////
    //////////////// Smooooooth scrolling.
    $('a[href^="/#"], a[href^="#"]').bind('click.smoothscroll',function (e) {
      var target = this.hash,
          $target = $(target);

      $('html, body').stop().animate( {
        'scrollTop': $target.offset().top
      }, 1000, 'swing', function () {
        window.location.hash = target;
      });
    });

    ////////////////////////////////////////////////////////
    //////////////// Contact form email subject.
    var $sub = $("#_subject");
    $("#email").change( function() {
      $sub.val("Lilypad Message From " + $(this).val());
    });

    ////////////////////////////////////////////////////////
    //////////////// Crique submission
    $('.inputfile').each(function(i) {
      $(this).attr('id','file'+i);
      $(this).next('label').attr('for','file'+i);
    });

      $('.inputfile').on( 'change', function(e) {
    		var $input = $( this ),
    	      $label = $input.next( 'label' ),
    		    labelVal = $label.html(),
    		    fileName = '';

  			if( this.files && this.files.length > 1 )
  				fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
  			else if( e.target.value )
  				fileName = e.target.value.split( '\\' ).pop();

  			if( fileName )
  				$label.find('span').html( fileName );
  			else
  				$label.html( labelVal );

    		// Firefox bug fix
    	$input
      	.on( 'focus', function(){ $input.addClass( 'has-focus' ); })
      	.on( 'blur', function(){ $input.removeClass( 'has-focus' ); });
    	});
    });

    $('.critique').each(function(i) {
      $(this).attr('instance',i);
    });

    $('.upload').on('click', function() {
      var $critique = $(this).parents('.critique'),
          instance = ".critique[instance=\"" + $critique.attr('instance') + "\"]",
          email = $(instance).find('input[type="email"]')[0].value.replace("@","AT"),
          encodedEmail = encodeURIComponent(email).replace(".", ""),
          file = $(instance).find('input[type="file"]')[0].files[0]

      var req = new XMLHttpRequest();
      req.open("POST", "https://lilypadmarketing.azurewebsites.net/api/critique/" + encodedEmail, true);
      req.setRequestHeader("Content-Type", "application/octet-stream");

      req.send(file);

      $critique.find('.submit').fadeOut();
      $critique.find('.lead').text('Resume Submitted!');

    });
</script>
