<section id="testimonials" class="text-center bg--secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-10">
        <div class="slider" data-paging="true">
          <ul class="slides">
            {% for testimonial in site.data.testimonials %}
              <li>
                <div class="testimonial">
                  <blockquote> “{{ testimonial.quote }}” </blockquote>
                  <h5>{{ testimonial.name }}</h5> <span>{{ testimonial.description }}</span>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>