/**!**************/
/**! Contents **/

/**!**************/
/**!**************/
/**! Place Custom Styles Below **/

.page-title {
  margin-bottom: 1em;
}

.page ul {
  list-style: inside;
  margin-left: 2em;
}

.card-2 .card__bottom {
  padding: 0;

  .btn {
    width: 100%;
    border-radius: 0 0 6px 6px;
    padding: 0.92857143em 0;
    margin: 0;
  }
}
