/**! Homepage Sample Box Buttons **/
.card-2 .card__bottom {
  padding: 0;

  .btn {
    width: 100%;
    border-radius: 0 0 6px 6px;
    padding: 0.92857143em 0;
    margin: 0;
  }
}

/**! Critique File Input **/
#critique input[type="email"] {
  text-align: center;
}

.critique p.lead {
  line-height: 40px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  overflow: hidden;
  border: 0;
  box-shadow: inset 0 0 1px 0 white;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: none !important;
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

/**! Pricing Card **/

.pricing-1 ul {
  margin-bottom: 4em;
}

.pricing-1 form.stripe {
  position: static;
  
  button {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    
    span {
      height: 100%;
      line-height: 42px;
    }
  }
}

/**! Extra padding for box with popular marker **/
@media (min-width: 768px) {
  .boxed.boxed--lg--popular {
    padding: 3.78571429em 2.78571429em 2.78571429em;
  }
  .boxed.boxed--lg--popular {
    margin-top: -8px;
  }
}
/**! Checkout Page Feature List **/
.feature-2 {
  
  i {
    width: 15%;
  }
  
  .feature__body {
    width: 85%
  }
}

/**! Page Content **/
.page-title {
  margin-bottom: 1em;
}

.page ul {
  list-style: inside;
  margin-left: 2em;
}

/**! Blog Archive **/

.article__excerpt a:hover{
  text-decoration: none;
}
