---
layout: default
---
{% assign item = site.data.products[page.index] %}

{% include guarantee.html %}

<section class="switchable">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="switchable__text">
          <div class="switchable__text">
            <h2>A process designed<br class="hidden-xs hidden-sm"> to support you succeed</h2>
            <p class="lead"> From the time you book your consultation to the time your hired I'm invested in your success. <strong>Weekly check-ins and application guidance</strong> ensure you aren't left to flounder. </p>
            <div class="feature feature-2"> <i class="icon icon-Credit-Card2 color--primary"></i>
              <div class="feature__body">
                <h5>Step 1: Secure Checkout</h5>
                <p>Checkout securely using your credit card. Powered by Stripe.</p>
              </div>
            </div>
            <div class="feature feature-2"> <i class="icon icon-Mail-Unread color--primary"></i>
              <div class="feature__body">
                <h5>Step 2: Book Consultation</h5>
                <p>Check your inbox for an invitation to book your consultation.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4 col-md-pull-1 col-xs-12">
        <div class="pricing pricing-1 boxed boxed--lg boxed--border">
          <h3>{{ item.name }}</h3>
          
          {% if page.url != "/" %} <!-- Hide pricing on homepage -->
            <span class="h2"><strong>${{ item.price }}</strong> 
              {% if item.compare-at %}
                <span class="type--strikethrough">${{ item.compare-at }}</span>
              {% endif %}
            </span>
          {% endif %}
          
          <span class="type--fine-print">{{ item.description }}</span>
          
          {% if item.feaured %}
            <span class="label">Popular!</span>
          {% endif %}
          <hr>
          <ul>
            {% for features in item.features %}
              <li><span class="checkmark bg--primary-1"> </span>{{ features }}</li>
            {% endfor %}
          </ul>
          
          {% include stripe.html %}
          
        </div>
      </div>

    </div>
  </div>
</section>

{% include testimonials.html %}