---
layout: default
---
<div class="main-container">
  <section class="image-bg parallax overlay">
    <div class="background-image-holder">
      <img alt="Background Image" class="background-image" src="{{ "assets/img/cover12.jpg" | relative_url }}">
    </div>
    <div class="container">
      <div class="row mb64 mb-xs-24">
        <div class="col-sm-6 col-md-5 text-right text-center-xs">
          <h1 class="large mb8">10,000+</h1>
          <h6 class="uppercase">Customers using our templates</h6>
        </div>
        <div class="col-md-2 text-center hidden-sm hidden-xs">
          <i class="ti-infinite icon icon-lg mt8 mt-xs-0"></i>
        </div>
        <div class="col-sm-6 col-md-5 text-center-xs">
          <h1 class="large mb8">Limitless</h1>
          <h6 class="uppercase">Layout potential using Foundry</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center">
          <h3 class="mb40 mb-xs-24">Authentic, handcrafted design that gives your
            <br> site subtle, confident appeal.</h3>
            <a class="btn btn-lg btn-filled" href="chooser.html">Check Out The Demos</a>
          </div>
        </div>

      </div>

    </section>
    <section class="image-edge">
      <div class="col-md-6 col-sm-4 p0 col-md-push-6 col-sm-push-8">
        <img alt="Screenshot" class="mb-xs-24" src="{{ "assets/img/phone2.png" | relative_url }}">
      </div>
      <div class="container">
        <div class="col-md-5 col-md-pull-0 col-sm-7 col-sm-pull-4 v-align-transform">
          <h1 class="large mb40 mb-xs-16">Sleek, Smart and Modern.</h1>
          <h6 class="uppercase mb16">A timeless design to be proud of</h6>
          <p class="lead mb40">
            We've built three distinct image and text combinations for you to showcase the features of your product or service. All combos come in left and right arrangements.
          </p>
          <a class="btn-lg btn" href="#">Explore Foundry</a>
        </div>
      </div>

    </section>
    <section class="bg-primary">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h3 class="mb0 inline-block p32 p0-xs">Get a free professional resume critique today!</h3>
            <a class="btn btn-lg btn-white mb8 mt-xs-24" href="#">Submit Resume</a>
          </div>
        </div>

      </div>

    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h4 class="uppercase mb16">Extended Plans</h4>
            <p class="lead mb64">
              Perfect for plans with greater detail. Alter appearance with '.boxed' and '.emphasis' classes
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="pricing-table pt-2 text-center">
              <h5 class="uppercase">Starter</h5>
              <span class="price">$12</span>
              <p class="lead">Per Month</p>
              <a class="btn btn-filled btn-lg" href="#">Get Started</a>
              <ul>
                <li>
                  <strong>Unlimited</strong> access to content
                </li>
                <li>
                  <strong>Fully Secure</strong> online backup
                </li>
                <li>
                  <strong>One Year</strong> round the clock support
                </li>
                <li>
                  <strong>FREE</strong> complimentary lanyard
                </li>
              </ul>
            </div>

          </div>
          <div class="col-md-4 col-sm-6">
            <div class="pricing-table pt-2 boxed text-center">
              <h5 class="uppercase">Starter</h5>
              <span class="price">$12</span>
              <p class="lead">Per Month</p>
              <a class="btn btn-filled btn-lg" href="#">Get Started</a>
              <ul>
                <li>
                  <strong>Unlimited</strong> access to content
                </li>
                <li>
                  <strong>Fully Secure</strong> online backup
                </li>
                <li>
                  <strong>One Year</strong> round the clock support
                </li>
                <li>
                  <strong>FREE</strong> complimentary lanyard
                </li>
              </ul>
            </div>

          </div>
          <div class="col-md-4 col-sm-6">
            <div class="pricing-table pt-2 emphasis text-center">
              <h5 class="uppercase">Starter</h5>
              <span class="price">$12</span>
              <p class="lead">Per Month</p>
              <a class="btn btn-white btn-lg" href="#">Get Started</a>
              <ul>
                <li>
                  <strong>Unlimited</strong> access to content
                </li>
                <li>
                  <strong>Fully Secure</strong> online backup
                </li>
                <li>
                  <strong>One Year</strong> round the clock support
                </li>
                <li>
                  <strong>FREE</strong> complimentary lanyard
                </li>
              </ul>
            </div>

          </div>
        </div>

      </div>

    </section>
    <section class="pb64 pb-xs-40 bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <div class="feature feature-2 filled text-center">
              <div class="text-center">
                <i class="ti-layers icon-sm"></i>
                <h5 class="uppercase">Modular Design</h5>
              </div>
              <p>
                With a plethora of purpose-built content blocks, colors and fonts, Foundry presents a mind-boggling number of combinations. Test drive the builder now!
              </p>
            </div>

          </div>
          <div class="col-sm-4">
            <div class="feature feature-2 filled text-center">
              <div class="text-center">
                <i class="ti-gallery icon-sm"></i>
                <h5 class="uppercase">Silky Parallax</h5>
              </div>
              <p>
                We've built a buttery smooth parallax scrolling experience with a heavy focus on performance. Extensively tested across a range of browser and mouse types.
              </p>
            </div>

          </div>
          <div class="col-sm-4">
            <div class="feature feature-2 filled text-center">
              <div class="text-center">
                <i class="ti-package icon-sm"></i>
                <h5 class="uppercase">Unique Concepts</h5>
              </div>
              <p>
                10 Fresh and unique concepts included out of the box. From portfolio to property showcase, Foundry's adaptable look is perfect for your next project.
              </p>
            </div>

          </div>
        </div>

      </div>

    </section>
    <section>
      <div class="container">
        <div class="row mb64 mb-xs-24">
          <div class="col-sm-12 col-md-10 col-md-offset-1 text-center">
            <h3>Foundry gives you the flexibility to build your site using purpose-made content blocks.</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 text-center">
            <div class="feature">
              <div class="text-center">
                <i class="ti-layout-grid2 icon-lg mb40 mb-xs-24 inline-block color-primary"></i>
                <h5 class="uppercase">Expert, Modular Design</h5>
              </div>
              <p>
                Customers love our block-based approach to template building,
                <br class="hidden-sm">it makes assembling beautiful pages fast and enjoyable, leaving
                <br class="hidden-sm"> more time to craft your perfect layout.
              </p>
            </div>

          </div>
          <div class="col-sm-6 text-center">
            <div class="feature">
              <div class="text-center">
                <i class="ti-heart icon-lg mb40 mb-xs-24 inline-block color-primary"></i>
                <h5 class="uppercase">Flexibility for Developers</h5>
              </div>
              <p>
                We haven't forgotten developers, that's why we've built Foundry
                <br class="hidden-sm"> from the ground-up as a powerful, easy to understand framework
                <br class="hidden-sm"> with a particular focus on code readability.
              </p>
            </div>

          </div>
        </div>

      </div>

    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <h3 class="mb64 uppercase">People &nbsp;
              <i class="ti-heart"></i>&nbsp; Foundry</h3>
              <div class="testimonials text-slider slider-arrow-controls">
                <ul class="slides">
                  <li>
                    <p class="lead">It's clear to see just how seriously these guys take design. I've never come across a template with the level of polish as this - and don't even get me started on the page builder, there is simply NO competition. Customer
                      for life.</p>
                      <div class="quote-author">
                        <img alt="Avatar" src="{{ "assets/img/avatar1.png" | relative_url }}">
                        <h6 class="uppercase">Anna Thompson</h6>
                        <span>Themeforest Customer</span>
                      </div>
                    </li>
                    <li>
                      <p class="lead">I love the ease-of-use the builder provides - I can quickly test different combinations and experiment with font and color combinations to find that sweet spot. Kudos for the amazing support too, really quick turnaround!</p>
                      <div class="quote-author">
                        <img alt="Avatar" src="{{ "assets/img/avatar2.png" | relative_url }}">
                        <h6 class="uppercase">Rick Dempsey</h6>
                        <span>Themeforest Customer</span>
                      </div>
                    </li>
                    <li>
                      <p class="lead">A fine example of atomic design brought to life. As a seasoned template user, I really appreciate the consistent styling for all common tags, it makes customising the sections that much easier. 5 stars as always for an
                        amazing template.</p>
                        <div class="quote-author">
                          <img alt="Avatar" src="{{ "assets/img/avatar3.png" | relative_url }}">
                          <h6 class="uppercase">Gill Sans</h6>
                          <span>Themeforest Customer</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

          </section>

          <section class="bg-dark pt64 pb64">
            <div class="container">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h2 class="mb8">Start A Foundry Project</h2>
                  <p class="lead mb40 mb-xs-24">
                    Variant Page Builder, Over 100 Page Templates - The choice is clear.
                  </p>
                  <a class="btn btn-filled btn-lg mb0" href="#purchase-template">Purchase Foundry</a>
                </div>
              </div>

            </div>

          </section>
        </div>
