---
layout: default
---
<section class="page {% if page.bg == "dark" %}bg--dark{% endif %}">
  <div class="container">
    {% if page.title %}
      <div class="row">
        <div class="{% if page.column == "full" %}col-md-12{% elsif page.column == "wide" %}col-md-9 col-sm-12{% else %}col-md-8 col-sm-10{% endif %}">
          <h1 class="page-title">{{ page.title | escape }}</h1>
        </div>
      </div>
    {% endif %}
    <div class="row">
      <div class="{% if page.column == "full" %}col-md-12{% elsif page.column == "wide" %}col-md-9 col-sm-12{% else %}col-md-8 col-sm-10{% endif %}">
        {{ content }}
      </div>
    </div>
  </div>
</section>

{% if page.critique != false %}
  {% comment %}{% include critique.html %}{% endcomment %}
{% endif %}
